body {
  border-radius: 0px;
}
header {
  background-color: #fff7;
}
header.scroll {
  background-color: #fff;
}
.form-container {
  position: relative;
  width: 100%;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 32px;
  z-index: 10;
  background: linear-gradient(
    182.23deg,
    rgba(255, 255, 255, 0.1) -50.51%,
    rgba(255, 255, 255, 0.98) 89.02%
  );
  border-radius: 24px;
}

h1 {
  color: #2c3e50;
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 16px !important;
  height: 48px;
  font-size: 16px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input[type="tel"] {
  text-align: right;
}
input[type="tel"]:focus {
  text-align: left;
}
input[type="file"] {
  appearance: none;
  opacity: 0;
}

select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M15.25 10.75L12 14.25L8.75 10.75" stroke="%23929A9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

input.invalid,
select.invalid {
  border: solid 2px rgba(231, 77, 60, 0.653);
}
form .error-text {
  color: #e74c3c;
  margin-top: 5px;
}
.checkbox .error-text {
  position: absolute;
  top: 100%;
  right: 20px;
}
.file-upload {
  border: 2px dashed #ddd;
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.submit-btn {
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #2ecc71;
}
.confirmation {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 4px;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  .form-container {
    padding: 15px;
  }
}

header .header-nav a {
  color: #222;
}
